:root{
    --principal:rgb(41, 33, 33);

}
.weather{
    
    padding: 0.5em 1em;
    margin-bottom: 3.5em;
    font-size: 1.2rem;
    width: 50%;
    height: 30rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px rgb(139, 135, 135), -1em 0 0.4em rgb(49, 48, 61);
}

.weather_header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.weather_subtitle{
    font-size: 1.5rem;
}

.weather_section{
    
    display: flex;
    text-align: center;
    align-items: center;
    width: 20em;
    margin-left: 2em;
    }

    .weather_img{
        width: 10em;
        background-color: rgba(146, 150, 151, 0.3);
        border-radius: 1em;
        

    }

.weather_paramether{
    /* espacio de las lineas  */
    line-height: 1.5em;
    font-size: 1rem;
    
    
}
.weather_inf-title{
    text-align: center;
    font-size: 1.3em;
    width: 10em;
    
    
}
.weather_list{
    
    margin-left:1em;
    margin-top: 1em;
    line-height: 1.8em;
    color:rgb(14, 1, 1);
    
    
    
    

}
span{
    font-weight: 600;
    color: var(--principal)
}  
.weather_c_f{
    font-size: 1.2em;
    font-weight: 600;
    margin: 1em 1em;
}

.weather_temp{
    text-align: center;
}

.btn{
    padding: 0.5rem 1rem;
    /* margin-top: 1rem; */
    border-radius: 0.5em;
    
    cursor: pointer;
    border: 0.1em solid currentColor;
    transition: transform 200ms ease,filter 100ms ease;
    background-color: rgb(235, 233, 233,0.1);
    

}
.btn:hover{
    transform: scale(1.1);
    filter: brightness(1.1);
}
.repositorio{
    margin-top: 3em;
    font-size: 1rem;
    text-align: center;
    width: auto;
    height: auto;
    font-weight: bold;
    

}

@media(max-width:800px){
    .weather{
    
        padding: 0.5em 1em;
        margin-bottom: 3.5em;
        font-size: 1.2rem;
        width: 22rem;
        height: 24rem;
        border-radius: 0.5rem;
        box-shadow: 3px 3px rgb(139, 135, 135), -1em 0 0.4em rgb(49, 48, 61);
    }
    .weather_header{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
    }

    .weather_section{
        
        
        width: 15em;
        margin-left: 1em;
        }
    
        .weather_img{
            width: 35%;
        }

        .repositorio{
            margin-top: 1em;
            font-size: 1rem;
            text-align: center;
            width: auto;
            height: auto;
            
        
        }
        .weather_c_f{
            font-size: 0.8em;
            
        }

    
    
}